Tebrikler! Eğer **Pandas bölümünü** başarıyla tamamladıysanız, bu egzersizleri çözmeye artık hazırız!

> O zaman hazırsanız hadi başlayalım!

## Görev 1:

[Linkte](https://raw.githubusercontent.com/GoogleCloudPlatform/training-data-analyst/master/courses/data_analysis/lab1b/airports.csv) bulunan veri setini Pandas yardımıyla okuyun ve veri setinde yer alan **sütun isimlerini küçük harfe** çevirin.

In [6]:
# Kodunuzu bu bölüme yazınız.
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/GoogleCloudPlatform/training-data-analyst/master/courses/data_analysis/lab1b/airports.csv")

df.columns = df.columns.str.lower()
df.head()

,iata,airport,city,state,country,latitude,longitude
0,ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2,ATL,William B Hartsfield-Atlanta Intl,Atlanta,GA,USA,33.640444,-84.426944
3,AUS,Austin-Bergstrom International,Austin,TX,USA,30.194533,-97.669872
4,BDL,Bradley International,Windsor Locks,CT,USA,41.938874,-72.683228

## Görev 2:

Veri seti içerisinde **tekrar eden gözlemler olup olmadığını** kontrol edin, eğer varsa bu gözlemleri veri setinizden kaldırın.

In [7]:
# Kodunuzu bu bölüme yazınız.
df.isna().sum()

df.dropna(inplace =True)
df.isna().sum()

iata         0
airport      0
city         0
state        0
country      0
latitude     0
longitude    0
dtype: int64

## Görev 3:

Veri setinizi sadece **New York'da olan** havaalanlarının **ismini ve eyalet kodunu** gösterecek şekilde filtreleyin.

In [8]:
# Kodunuzu bu bölüme yazınız.
df_newyork = df[df["city"] == 'New York']
df_newyork = df_newyork[["airport","state"]] 
df_newyork

                airport state
30  John F Kennedy Intl    NY
33            LaGuardia    NY

## Görev 4:

Veri setinize **Enlem(Latitude) değeri 50'nin üzerinde olanlara 'North', altında olanlara 'South'** ve **Boylam(Longitude) değeri 0'ın üzerinde olanlara 'East', altında olanlara 'West'** olarak nitelendirecek şekilde 2 yeni sütun ekleyin.

In [9]:
# Kodunuzu bu bölüme yazınız.

df['vertical_direction'] =  df["latitude"].apply(lambda x : 'North' if x >50 else 'South')
df['horizontal_direction']  = df['longitude'].apply(lambda x : 'East' if  x> 0 else 'West')
print(df.head())

  iata                              airport           city state country  \
0  ABQ            Albuquerque International    Albuquerque    NM     USA
1  ANC  Ted Stevens Anchorage International      Anchorage    AK     USA
2  ATL    William B Hartsfield-Atlanta Intl        Atlanta    GA     USA
3  AUS       Austin-Bergstrom International         Austin    TX     USA
4  BDL                Bradley International  Windsor Locks    CT     USA

    latitude   longitude vertical_direction horizontal_direction
0  35.040222 -106.609194              South                 West
1  61.174320 -149.996186              North                 West
2  33.640444  -84.426944              South                 West
3  30.194533  -97.669872              South                 West
4  41.938874  -72.683228              South                 West

## Görev 5:

Veri setinizi üretmiş olduğunuz önce **vertical_direction** sonra da **horizontal_direction** sütunlarına göre gruplayın ve gruplama sonucunda **o bölgelerde kaç tane havaalanı** olduğunu inceleyin.

In [10]:
# Kodunuzu bu bölüme yazınız.
df.groupby(["vertical_direction","horizontal_direction"])["airport"].count()

vertical_direction  horizontal_direction
North               West                     19
South               West                    318
Name: airport, dtype: int64

In [9]:
cumle = 'Merhaba dünya ben geldim'
def en_uzun_kelime_bul(cumle):
    
    kelimeler = cumle.split(' ')
    kelime = max(kelimeler, key=len)

    return kelime
en_uzun_kelime_bul(cumle)

'Merhaba'